[submodule "WeConnectFrontEndMobile"]
	path = WeConnectFrontEndMobile
	url = https://github.com/ignacioTrevisan/WeConnectFrontEndMobile
[submodule "WeConnectBackendPublico"]
	path = WeConnectBackendPublico
	url = https://github.com/ignacioTrevisan/WeConnectBackendPublico
